<!DOCTYPE html>
<html>
	{% extends "base.html" %}
	{% import "bootstrap/wtf.html" as wtf %}
	{% block page_content %}
	<div class="boxform">
		<form action="" method="POST">
			<input type="text" name="nome" placeholder="Your Name Here"><br>
			<input type="text" name="email" placeholder="Your E-mail Here"><br>
			<select name="loja">
				<!-- lojas aqui -->
			</select>
			<textarea name="pedido" rows="8"></textarea><br>
			<button type="submit" class="formbtn" value="Submit">Submit</button>
		</form>
	</div>
	{% endblock %}
</html>

<!--
	{{ }} representa variaveis e funcões em geral, relacionadas com o flask
	{% %} representa imports e extensões, além de definições de bloco
	Regra geral, se tem {}, provavelmente é do flask.
-->